                   /* Navegacion */
 .logo-barra{
  max-width: 30px;
  max-height: 30px;
 }
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/sala-cine-pantalla-blanco-blanco-asientos_88188-75.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
    }
  
nav{
   background: white;
   }
   .bg-light{
      padding: 0;
   }
    /*--------------------FOOTER------------*/
    .social{
      background-color: #2C3E50;
      color: white;
      
      padding: 4rem 1rem;
  }
  
  .a-iconos{
      
      text-decoration: none;
      color: white;
      font-size: 2rem;
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 50%;
      border: 1px solid white;
      
      
  }
  
  .a-iconos i{
      width: 40px;
  }
  .a-iconos:hover{
      background-color: white;
      color: #2C3E50;
      border: 1px solid #2C3E50;
      transition: all 1000ms ease;
  }
  .copyright{
      color: white;
      text-align: center;
  }
  .copyright span{
      font-weight: bold;
  }
  .red-social, .mision, .contacto h3{
      text-align: center;
  
  }
  
  
    /*--------------------GRAL------------*/
.cont{
   padding: 20px;
}
.__card-pelicula {
   transition: all 0.2s ease-in-out;
   color:black;
}

.__card-pelicula:hover {
   box-shadow:
       0 19px 38px rgba(0,0,0,0.17),
       0 15px 12px rgba(0,0,0,0.09);
}

.__card-pelicula ul {
   list-style-type: none;
   padding: 0;
}
h4{
   color:black;
}
.header {
   color: #36A0FF;
   font-size: 27px;
   padding: 10px;
}

.bigicon {
   font-size: 35px;
   color: #36A0FF;
}
#agregar{
   width: 500px;
   margin: auto;
   background-color:rgba(0,0,0,0.9);
   margin-top: 20px;
   margin-bottom: 5px;
}

.poster{
max-width: 35%;
   width: auto;
}
.detalle{
   margin: auto; 
   height: 100%
   
}
.fotoDetalle{
   max-width: 75%;
}
#detalles{
   height: auto;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: white;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
.primero{
   text-align: center;
}
.main{
padding-bottom:300px ;
padding-top: 30 px;
}